<style>
	

	.pay_row {
		display: flex;
		align-items: center;
		padding: 10px 0;
		padding-left: 40px;
		font-size: 12px;
		color: #333333;
	}

	.pay_row_left {
		width: 120px;
	}

	.pay_row input {
		outline: none;
		border: 1px solid #ccc;
		font-size: 12px;
		padding: 8px 4px;
		box-sizing: border-box;
		width: 170px;
		height: 33px;
	}

	.is_show {
		width: 62px !important;
		height: 23px;
		font-size: 0px;
		text-align: center;
		border: 1px solid #d1d1d1;
		border-radius: 20px;
		padding: 0px 10px 1px 10px;
		color: #eee;
		cursor: pointer;
		background: #eee;
		box-sizing: border-box;
		position: relative;
	}

	.isonbtn {
		position: absolute;
		top: 0;
		right: -2px;
	}

	.ison {
		background-color: #5ab1eb;
	}

	#sm {
		resize: none;
		width: 360px;
		height: 70px;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		font-size: 12px;
		text-indent: 0;
		overflow: hidden;
	}

	.bottom_btn {
		width: 500px;
		display: flex;
		justify-content: flex-end;
		margin: 10px 0;
		padding-left: 40px;
	}

	.back {
		color: #666;
		margin-right: 10px;
		margin: 20px;
		font-size: 12px;
		padding: 9px 15px;
		width: 56px;
		height: 35px;
		text-align: center;
		border: 1px solid #dbdbdb;
		box-sizing: border-box;
		cursor: pointer;
	}
	.add{
		margin-bottom: 200px;
	}


</style>
<div class="headertip">
	<li>微信支付</li>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		图标：
	</div>
	<img src="/static/img/admin/wxpay.gif">
</div>
<div class="pay_row">
	<div class="pay_row_left">
		appID：
	</div>
	<input type="text" id="appId"  value="{$wxpay.appid}"/>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		appsecret:：
	</div>
	<input type="text" id="appsecret" value="{$wxpay.miyao}"/>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		商户号：
	</div>
	<input type="text" id="shopid" value="{$wxpay.user}" />
</div>
<div class="pay_row">
	<div class="pay_row_left">
		商户API密钥：
	</div>
	<input type="text" id="shopkey" value="{$wxpay.userapi}" />
</div>
<div class="pay_row">
	<div class="pay_row_left">
		是否在线支付：
	</div>
	<div class="pay_row_left">
		是
	</div>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		是否支持货到付款：
	</div>
	<div class="pay_row_left">
		否
	</div>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		是否显示：
	</div>
	<div class="is_show ">
		<img src="/static/img/admin/radio_button.png" class="isonbtn">
	</div>
</div>
<div class="pay_row">
	<div class="pay_row_left">
		详细说明：
	</div>
	<textarea id="sm" readonly="readonly">微信支付是由腾讯公司知名移动社交通讯软件微信及第三方支付平台财付通联合推出的移动支付创新产品，旨在为广大微信用户及商户提供更优质的支付服
	</textarea>
</div>
<div class="bottom_btn">
	
	<div class="add layui-btn layui-btn-primary" >
		提交保存
	</div>
</div>
<script type="text/javascript">
if('{$wxpay.open}'=='true'){
	$(".is_show").addClass('ison');
}else{
	$(".is_show").removeClass('ison');
}
	$(".is_show").click(function() {
		if ($(this).hasClass("ison")) {
			$(this).removeClass("ison");
			$(".isonbtn").animate({
				right: 0,
				left: -2,
			}, 100);
		} else {
			$(this).addClass("ison");
			$(".isonbtn").animate({
				left: 42,
			}, 100);
		}
	});
	//点击添加按钮
	$(".add").click(function(){
		var appId = $("#appId").val();
		var appsecret = $("#appsecret").val();
		var shopid = $("#shopid").val();
		var shopkey = $("#shopkey").val();
		var ison;
		if(appId==""){
			layer.msg('请输入appID', {
				icon: 2,
				shade: 0.05,
				time: 800
			});
			return false;
		}
		if(appsecret==""){
			layer.msg('请输入appsecret', {
				icon: 2,
				shade: 0.05,
				time: 800
			});
			return false;
		}
		if(shopid==""){
			layer.msg('请输入商户号', {
				icon: 2,
				shade: 0.05,
				time: 800
			});
			return false;
		}
		if(shopkey==""){
			layer.msg('商户API密钥', {
				icon: 2,
				shade: 0.05,
				time: 800
			});
			return false;
		}
		if($(".is_show").hasClass("ison")){
			ison=true;
		}else{
			ison=false;
		}
		$.ajax({
			type:'POST', // 规定请求的类型（GET 或 POST）
			url:'/login.php/admin/payemsoss', // 请求的url地址
			cache:true,// 否在缓存中读取数据的读取
			dataType:'json', //预期的服务器响应的数据类型 
			data:{
				appid:appId,
				miyao:appsecret,
				user:shopid,
				userapi:shopkey,
				 ison:ison,
				 page:'wxpay'
				
			},//规定要发送到服务器的数据
			
			success: function(res){ // 当请求成功时运行的函数
				
				// news_slt=null;
				
				if(res.code===0){
					 console.log(res) ; 
					layer.msg('请确认内容有修改！', {
					                icon:2,
					                shade: 0.05,
					                time: 800
					            });
						
				}
				
				if(res.code===1){
					 console.log(res) ; 
				layer.msg('保存成功！', {
				                icon:1,
				                shade: 0.05,
				                time: 800
				            });
					
				}
				
			
			},
			error:function(res){ //失败的函数
			console.log(res);
			layer.msg('数据接收失败！', {
			                icon:2,
			                shade: 0.05,
			                time: 800
			            });
					
					
					
					
			}
			
		})//ajax-end	
	});
</script>
